@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #f4f1f1;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, rgba(18, 18, 18, 0.99) 0%, rgba(238, 236, 236, 0.985) 100%), url('https://source.unsplash.com/1600x900/?cinema,movie') no-repeat center center fixed;
  background-size: cover;
}

.login-form {
  background: rgba(241, 240, 240, 0.982);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(16, 0, 0, 0.5);
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: #fff;
  animation: fadeIn 0.5s ease-in-out;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #310904;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  font-size: 16px;
  background: #2c2c2c;
  color: #fff;
  box-sizing: border-box; /* Ensure padding is included in the element's width and height */
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #c0392b;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding is included in the element's width and height */
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #643ce7;
  color: white;
  font-family: 'Playfair Display', serif;
}

.login-button:hover {
  background-color: #535252;
}

.forgot-password {
  margin-top: 15px;
  color: #090909;
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password:hover {
  color: #622bc0;
}

.signup-prompt {
  margin-top: 20px;
  color: #0b0909;
}

.signup-prompt a {
  color: #250de2;
  text-decoration: none;
  font-weight: 600;
}

.signup-prompt a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}